body {
    margin-left: 25%;
    margin-right: 25%;
}
#contenitore {
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 400px;
}


#left {
    background-image: url(pd1.jpeg);
    width: 300px;
    height: 372px;
    margin-left: 40px;
    margin-top: 15px;
    display: inline-block; 
    position: relative;
    border-radius: 15px;
}

#center {
    background-image: url(pd2.jpeg);
    width: 300px;
    height: 372px;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    border-radius: 15px;
    margin-left: 6px;
}

#right {
    
    background-image: url(pd3.jpeg);
    width: 300px;
    height: 372px;
    margin-top: 15px;
    margin-right: 40px;
    display: inline-block; 
    position: relative;
    border-radius: 15px;
    margin-left: 6px;
}

#toprighta { 
    background-color: green;
    width: 40px;
    height: 20px;
    position: absolute;
    right: 0;
    border-top-right-radius: 13px;
}

#toprightb { 
    background-color: red;
    width: 40px;
    height: 20px;
    position: absolute;
    right: 0;
    border-top-right-radius: 13px;
}

h5 {
    margin-top: 0px;
    margin-left: 4px;
}

.hearts{
    position:absolute;
    bottom: 3px;
    left: 150px;
    display: none;
    cursor: pointer;
    color: red;
}

#left:hover .hearts{
    display: block;
}
#right:hover .hearts{
    display: block;
}
#center:hover .hearts{
    display: block;
}
